<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>controller.access.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>NewProductServlet</servlet-name>
        <servlet-class>controller.product.NewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.access.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductShoppingCartServlet</servlet-name>
        <servlet-class>controller.shoppingcart.AddProductShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductShoppingCartServlet</servlet-name>
        <servlet-class>controller.shoppingcart.RemoveProductShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAddProductQuantifyServlet</servlet-name>
        <servlet-class>controller.shoppingcart.RemoveAddProductQuantifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleInsertServlet</servlet-name>
        <servlet-class>controller.sale.SaleInsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSaleProductsServlet</servlet-name>
        <servlet-class>controller.sale.DeleteSaleProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissingProductReportServlet</servlet-name>
        <servlet-class>report.MissingProductReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductServlet</servlet-name>
        <url-pattern>/admin/new-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductShoppingCartServlet</servlet-name>
        <url-pattern>/add-product-shopping-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductShoppingCartServlet</servlet-name>
        <url-pattern>/remove-product-shopping-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAddProductQuantifyServlet</servlet-name>
        <url-pattern>/remove-add-product-quantify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleInsertServlet</servlet-name>
        <url-pattern>/sale-insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSaleProductsServlet</servlet-name>
        <url-pattern>/admin/delete-sale-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissingProductReportServlet</servlet-name>
        <url-pattern>/admin/missing-product-report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginRegister</servlet-name>
        <jsp-file>/pages/login-register/login-register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRegister</servlet-name>
        <url-pattern>/pages/login-register/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyProfilePage</servlet-name>
        <jsp-file>/pages/my-profile/my-profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyProfilePage</servlet-name>
        <url-pattern>/pages/my-profile/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardAdmin</servlet-name>
        <jsp-file>/WEB-INF/dashboard-admin/dashboard-admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardAdmin</servlet-name>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewCategory</servlet-name>
        <jsp-file>/WEB-INF/dashboard-admin/category/category.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCategory</servlet-name>
        <url-pattern>/admin/category/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewProduct</servlet-name>
        <jsp-file>/WEB-INF/dashboard-admin/product/product.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewProduct</servlet-name>
        <url-pattern>/admin/product/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <jsp-file>/pages/shopping-cart/shopping-cart.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/pages/shopping-cart/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.access.LogoutServlet</servlet-class>
    </servlet>
</web-app>
